#carousel-container{
    width: 100%;
}
h1, h3{
	color: white;
	font-size: 5vw;
}
#mainpicture{
   filter: brightness(0.5);   
}

#main-carousel-caption{
	display: flex;
	flex-direction: column;
	justify-content: center;
	right: 0px;
	bottom: 0px;
	height: 100%;
	width: 80%;
	
} 
#main-carousel-caption h1, h3{
	color: #f2ffff;
}
body {
	background-color: #f2ffff;
}